body {

  background-color:  #FFF;
  margin: 0;
  padding: 0;
}

.container {
  position:relative;
}

.center{
  position:absolute;
  top:30%;
  width: 100%;
  text-align:center;
  font-size:36px;
}

.topleft {
  position:absolute;
  top: 8px;
  left: 16px;
  font-size:18px;
}

.topright {
  position:absolute;
  top:8px;
  right:16px;
  font-size:18px;
}

.bottomleft {
  position:absolute;
  top:8px;
  right:16px;
  font-size:18px;
}

#Companylogo {
  width: 164px;
  height: 78px;
  position: absolute;
  text-align: left;
  /*padding: 32px 32px;*/
}

#cover {
  background: url("Images/HomeBackground.png") no-repeat bottom center;
  background-size: cover;
  background-attachment:scroll;
  height: 523px;
  position:absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.button {

    background-color: #0080FF; /* Blue */
    border: solid 1px #FFF; /* White */
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

.button1 {
    background-color: #12A83B; /* Green */
    border: solid 2px #12A83B; /* Green */
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}


.navigation {
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

ul {
  padding: 0;
}

li {
  color: #FFF;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 16px 20px;
  text-transform:capitalize;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 280px;
  width: 70%;
}

h1 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 60px;
  position:absolute;
  padding: 10px 20px;
  text-align: left;
}

h2 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: left;
}
